 body {
  margin: 0;
  font-family: Arial,sans-serif;
    background-color: rgb(0,0,0)
              } h1,#demo4 {
                  background-color: aliceblue;
              }
              #widgets {
                 color: crimson;
                 background-color: aliceblue;
              }
.button1 {
    background-color: yellow;
    font-family: monospace;
}
.button2 {
    font-family: serif;
    background-color: aqua;
}
.button3 {
    font-family: monospace;
    color: darkblue;
    background-color: aqua;
              } 
              #submit {
                 background-color: red;
                 color: blue;
              }
              .quizzical { 
                  background-color: aqua;
              }
             /* when link hovered*/ 
              a:hover {
                  background-color: green;
                  color: red;
              } button:hover {
                  background-color: blue;
                  color: black;
              }
#demo, #demo2, #demo3, #demo5 {
    font-family: monospace;
    color: blue;
}
.list {
    color: hsl(304, 100%, 50%)
}
tr, th,td {
    color: blue;
    border-radius: 100%;
    border-color: palevioletred;
              } footer {
               background-color: crimson;
                  width: 675;
                  color: aqua;
                  font-family: monospace
              } a {
                  color: aqua;
              }
              /* Styling for the header */
header {
  text-align: center;
  font-size: 26px;
  padding: 20px;
}

/* Styling for the label */
label {
  display: inline-block;
  float: left;
  clear: left;
  width: 120px;
  text-align: left;
  padding-top: 10px;
  font-size: 18px;
}

/* Styling for the input field */
input {
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
}

/* Styling for the button */
button {
  border-radius: 6px;
  padding: 15px;
  text-decoration: none;
  transition: all .3s;
  font-family: sans-serif;
  border-bottom-color: rgb(35, 64, 74);
  outline: 0;
  display: inline-block;
  color: #ffffff;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#33cde2), color-stop(4%,#2e848d), color-stop(100%,#020606));
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.4px;
  position: relative;
  left: 40%;
}

/* Styling for everything in the div tags with the id calculator */
#calculator {
  padding: 10px 70px;
  border-radius: 15px;
  color: #323944;
  text-align: left;
  border: 4px solid #225f65;
  border-bottom-color: rgba(0, 0, 0, 0.65);
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 51%, #dedede 75%);
  max-width: 500px;
  min-width: 200px;
  margin: 20px auto;
  box-shadow: 0px 5px 40px -10px rgb(0, 0, 0);
}

/* Styling for everything in the div tags with the id input */
#input {
  text-align: left;
  padding: 5px;
  clear: both;
  margin: 10px 0;
}

/* Styling for the image */
#bubble-image {
  display: block;
  margin: 0 auto;
  position: relative;
  max-height: 25%;
  max-width: 25%;
}
          
